<div class="flex flex-col p-6 bg-white rounded-xl shadow-lg">
    <img class="object-cover object-center w-full mb-8 rounded-xl" src="{{ asset('template-html/assets/images/fashion-trends.jpg') }}" alt="blog">
    <h2 class="mb-2 text-xs font-semibold tracking-widest text-primary uppercase">Fashion Trends</h2>
    <h1 class="mb-4 text-2xl font-semibold leading-none tracking-tighter text-gray-dark lg:text-3xl">Latest Shirt Trends for 2024</h1>
    <p class="flex-grow text-base font-medium leading-relaxed text-gray-txt">Explore the hottest shirt trends of 2024. From bold prints to classic styles, stay ahead of the fashion curve with our expert insights.</p>
    <div class="mt-8">
        <a href="#" class="bg-primary border border-transparent hover:bg-transparent hover:border-primary text-white hover:text-primary font-semibold py-2 px-4 rounded-full w-full">Read more</a>
    </div>
</div>