<div class="swiper-wrapper">
    {% for i in 1..6 %}
    <div class="swiper-slide flex-none bg-gray-200 flex items-center justify-center rounded-md">
        <img src="{{ asset('template-html/assets/images/brands/html.svg') }}" alt="Client Logo" style="max-width: 150px; max-height: 80px; object-fit: contain;">
    </div>
    {% endfor %}
</div>