<div class="md:w-2/3 bg-white rounded-lg shadow-md p-4">
    <h2 class="text-xl font-semibold mb-4">Billing Details</h2>
    <form>
        <div class="mb-4">
            <label for="billing-name" class="mb-4">Full Name</label>
            <input type="text" id="billing-name" class="w-full px-3 mt-2 py-2 border focus:border-transparent rounded-full focus:outline-none focus:ring-2 focus:ring-primary" required>
        </div>
        <div class="mb-4">
            <label for="billing-email" class="mb-4">Email</label>
            <input type="email" id="billing-email" class="w-full px-3 mt-2 py-2 border focus:border-transparent rounded-full focus:outline-none focus:ring-2 focus:ring-primary" required>
        </div>
        <div class="mb-4">
            <label for="billing-address" class="mb-4">Address</label>
            <input type="text" id="billing-address" class="w-full px-3 mt-2 py-2 border focus:border-transparent rounded-full focus:outline-none focus:ring-2 focus:ring-primary" required>
        </div>
        <div class="mb-4">
            <label for="billing-city" class="mb-4">City</label>
            <input type="text" id="billing-city" class="w-full px-3 mt-2 py-2 border focus:border-transparent rounded-full focus:outline-none focus:ring-2 focus:ring-primary" required>
        </div>
        <div class="mb-4 flex gap-4">
            <div class="w-1/2">
                <label for="billing-state" class="mb-4">State</label>
                <input type="text" id="billing-state" class="w-full px-3 mt-2 py-2 border focus:border-transparent rounded-full focus:outline-none focus:ring-2 focus:ring-primary" required>
            </div>
            <div class="w-1/2">
                <label for="billing-zip" class="mb-4">ZIP Code</label>
                <input type="text" id="billing-zip" class="w-full px-3 mt-2 py-2 border focus:border-transparent rounded-full focus:outline-none focus:ring-2 focus:ring-primary" required>
            </div>
        </div>
        <div class="mb-4">
            <label for="billing-phone" class="mb-4">Phone Number</label>
            <input type="tel" id="billing-phone" class="w-full px-3 mt-2 py-2 border focus:border-transparent rounded-full focus:outline-none focus:ring-2 focus:ring-primary" required>
        </div>
        <div class="mb-4">
            <label class="mb-4">Ship to a different address?</label>
            <input type="checkbox" id="different-address" class="mr-2">
            <label for="different-address" class="text-gray-700">Yes</label>
        </div>
    </form>
</div>
